/* Hero reste avec son image */
.hero-section {
    background: url('https://via.placeholder.com/1920x1080') no-repeat center center;
    background-size: cover;
    padding: 150px 0;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Couleur unique pour toutes les sections sauf hero et footer */
section {
    background-color: #f5f5f5; 
}

#clients {
    background-color: #d1e7dd; /* vert clair harmonieux */
}


#about {
    background-color: #d1e7dd; /* vert clair harmonieux */
}

